# Java / Maven
**/target/
**/*.class
**/maven/
apache-maven.zip

# Node / Frontend
**/node_modules/
**/dist/
.env
.env.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project Specific
backend/uploads/
